@(id: Long, orderForm: Form[Orders])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h1>Edit payment</h1>
    
    @form(routes.OrderMgr.update(id)) {
        
        <fieldset>

            @inputText(orderForm("item_name"), '_label -> "Item Name")
            @inputText(orderForm("buy_dt"), '_label -> "Purchase Date")
            @inputText(orderForm("deliver_dt"), '_label -> "Deliver Date")
            @inputText(orderForm("unit_price"), '_label -> "Unit Price")
            @inputText(orderForm("quantity"), '_label -> "Quantity")
            @inputText(orderForm("item_source"), '_label -> "Item Source")
            @inputText(orderForm("tracking_number"), '_label -> "Tracking #")
            @inputText(orderForm("note"), '_label -> "Note")

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this order" class="btn primary"> or
            <a href="@routes.OrderMgr.orderlist()" class="btn">Cancel</a>
        </div>
        
    }
    
    @form(routes.OrderMgr.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this order" class="btn danger">
    }
    
}
