@(id: Long, paymentForm: Form[Payment])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h1>Edit payment</h1>
    
    @form(routes.UserMgr.update(id)) {
        
        <fieldset>
        
            @inputText(paymentForm("cc_name"), '_label -> "Owner Name")
            @inputText(paymentForm("cc_number"), '_label -> "Credit Card Number")
            @inputText(paymentForm("cc_address_1"), '_label -> "Address 1")
            @inputText(paymentForm("cc_address_2"), '_label -> "Address 2")
            @inputText(paymentForm("cc_city"), '_label -> "City")
            @inputText(paymentForm("cc_state"), '_label -> "State")
            @inputText(paymentForm("cc_zip_code"), '_label -> "Zip Code")


        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this payment" class="btn primary"> or
            <a href="@routes.UserMgr.pmtlist()" class="btn">Cancel</a>
        </div>
        
    }
    
    @form(routes.UserMgr.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this payment" class="btn danger">
    }
    
}
