@(message: String)

<!DOCTYPE html>
<html>
    <head>
        <title>Computers database</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")"> 
    </head>
    <body>
        
        <header class="topbar">
            <h1 class="fill">
                @message
                <a href="@routes.Application.main()">
                    Click to check inventory
                </a>
                <a href="@routes.UserManager.blank()">
                    Sign In
                </a>
            </h1>
        </header>
        
    </body>
</html>
